<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ulsan</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/templatemo-style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

     <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <script src="https://kit.fontawesome.com/e2d2ee3d42.js" crossorigin="anonymous"></script>
<!--
    
TemplateMo 556 Catalog-Z

https://templatemo.com/tm-556-catalog-z

-->
</head>
<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>

    <nav class="navbar navbar-dark bg-dark">>
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="fa-solid fa-map-location-dot"></i>
              SEOUL
                 </a>
        </div>
    </nav>
                    <div class="row" style="padding:100px;">
                      <div class="col-1"></div>
                        <div class="col-10">

                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
                          <img src="{% static 'img/u4.jpg' %}"     style="height: 500px;" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
                                <img src="{% static 'img/u5.jpg' %}"     style="height: 500px;" class="d-block w-100" alt="...">

    </div>
    <div class="carousel-item">
                          <img src="{% static 'img/u6.jpg' %}"     style="height: 500px;" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


                            </div>
                        <div class="col-1"></div>
                    </div>
  <div>

<div class="row">
    <div class="col-1"></div>
    <div class="col-5">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                      <!-- Line Chart -->

                      <div id="reportsChart"></div>

                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new ApexCharts(document.querySelector("#reportsChart"), {
                        series: [{
                          name: '최저기온',
                          data: [ {{ tmn1 }} , {{ tmn2 }}, {{ tmn3 }}, {{ min4 }}, {{ min5 }}, {{ min6 }}, {{ min7 }}],
                        }, {
                          name: '최고기온',
                          data: [{{ tmx1 }}, {{ tmx2 }}, {{ tmx3 }}, {{ max4 }}, {{ max5 }}, {{ max6 }}, {{ max7 }}]
                        }],
                        chart: {
                          height: 350,
                          type: 'area',
                          toolbar: {
                            show: false
                          },
                        },
                        markers: {
                          size: 4
                        },
                        colors: ['#4154f1', '#2eca6a', '#ff771d'],
                        fill: {
                          type: "gradient",
                          gradient: {
                            shadeIntensity: 1,
                            opacityFrom: 0.3,
                            opacityTo: 0.4,
                            stops: [0, 90, 100]
                          }
                        },
                        dataLabels: {
                          enabled: false
                        },
                        stroke: {
                          curve: 'smooth',
                          width: 2
                        },
                        xaxis: {
                          categories: ["오늘", "내일", "2일후", "3일후", "4일후", "5일후", "6일후"]
                        },

                      }).render();
                    });
                  </script>
                  <!-- End Line Chart -->

                </div>
              <!-- End Line CHart -->
    <div class="col-5">
                <table class="table table-bordered">
                  <thead>
                  <tr class="table-primary">
                      <td></td>
                       <td>오늘</td>
                      <td>내일</td>
                      <td>2일후</td>
                      <td>3일후</td>
                       <td>4일후</td>
                      <td>5일후</td>
                      <td>6일후</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>날씨</td>
                 <td>{% if sky1 == '1' %}
                                    <a>하늘이 <br> 맑습니다.</a>
                     <br>
                         &nbsp;&nbsp;&nbsp;  <i class="fa-regular fa-sun"></i>
                                {% elif sky1 == '3' %}
                                    <a>하늘에 구름이 많습니다.</a>
                     <br>
                       &nbsp;&nbsp;&nbsp;    <i class="fa-solid fa-cloud"></i>
                                {% elif sky1 == '4' %}
                                    <a>하늘이 흐립니다.</a>
                     <br>
                          &nbsp;&nbsp;&nbsp; <i class="fa-solid fa-cloud-showers-heavy"></i>
                                    {% endif %}</td>

                         <td>{% if sky2 == '1' %}
                                    <a>하늘이 맑습니다.</a> <br>
                      &nbsp;&nbsp;&nbsp;     <i class="fa-regular fa-sun"></i>
                                {% elif sky2 == '3' %}
                                    <a>하늘에 구름이 많습니다.</a> <br>
                        &nbsp;&nbsp;&nbsp;   <i class="fa-solid fa-cloud"></i>
                                {% elif sky2 == '4' %}
                                    <a>하늘이 흐립니다.</a> <br>
                        &nbsp;&nbsp;&nbsp;   <i class="fa-solid fa-cloud-showers-heavy"></i>
                                    {% endif %}</td>

                       <td>{% if sky3 == '1' %}
                                    <a>하늘이 맑습니다.</a> <br>
                        &nbsp;&nbsp;&nbsp;   <i class="fa-regular fa-sun"></i>
                                {% elif sky3 == '3' %}
                                    <a>하늘에 구름이 많습니다.</a> <br>
                         &nbsp;&nbsp;&nbsp;  <i class="fa-solid fa-cloud"></i>
                                {% elif sky3 == '4' %}
                                    <a>하늘이 흐립니다.</a> <br>
                         &nbsp;&nbsp;&nbsp;  <i class="fa-solid fa-cloud-showers-heavy"></i>
                                    {% endif %}</td>

                         <td>{% if wf4Am == '구름많음' %}
                                    <a>하늘에 구름이 많습니다.</a> <br>
                            &nbsp;&nbsp;&nbsp; <i class="fa-solid fa-cloud"></i>
                                {% elif wf4Am == '맑음' %}
                                    <a>하늘이 맑습니다.</a> <br>
                           &nbsp;&nbsp;&nbsp;    <i class="fa-regular fa-sun"></i>
                                {% elif wf4Am == '구름많고 비' %}
                                    <a>하늘에 구름이 많고 비가옵니다.</a> <br>
                         &nbsp;&nbsp;&nbsp;  <i class="fa-solid fa-cloud-showers-heavy"></i>
                                {% elif wf4Am == '구름많고 눈' %}
                                    <a>하늘에 구름이 많고 눈이옵니다..</a> <br>
                        &nbsp;&nbsp;&nbsp;   <i class="fa-solid fa-snowflake"></i>
                             {% elif wf4Am == '구름많고 비/눈' %}
                                    <a>하늘에 구름이 많고 비와 눈이 옵니다.</a> <br>
                       &nbsp;&nbsp;&nbsp;    <i class="fa-solid fa-cloud-showers-heavy"></i>
                                {% elif wf4Am == '구름많고 소나기' %}
                                    <a>하늘이 구름이 많고 소나기가 옵니다.</a> <br>
                         &nbsp;&nbsp;&nbsp;  <i class="fa-solid fa-cloud-showers-heavy"></i>
                             {% elif wf4Am == '흐림' %}
                                    <a>하늘이 흐립니다.</a> <br>
                        &nbsp;&nbsp;&nbsp;   <i class="fa-sharp fa-solid fa-clouds"></i>
                                {% elif wf4Am == '흐리고 비' %}
                                    <a>하늘이 흐리고 비가옵니다.</a> <br>
                          &nbsp;&nbsp;&nbsp; <i class="fa-solid fa-cloud-showers-heavy"></i>
                             {% elif wf4Am == '흐리고 비/눈' %}
                                    <a>하늘이 흐리고 비와 눈이 옵니다.</a> <br>
                         &nbsp;&nbsp;&nbsp;  <i class="fa-solid fa-cloud-showers-heavy"></i>
                                {% elif wf4Am == '흐리고 소나기' %}
                                    <a>하늘이 흐리고 소나기가 옵니다.</a> <br>
                          &nbsp;&nbsp;&nbsp; <i class="fa-solid fa-cloud-showers-heavy"></i>
                                    {% endif %}</td>

                          <td>{% if wf5Am == '구름많음' %}
                                    <a>하늘에 구름이 많습니다.</a> <br>
                           &nbsp;&nbsp;&nbsp;  <i class="fa-solid fa-cloud"></i>
                                {% elif wf5Am == '맑음' %}
                                    <a>하늘이 맑습니다.</a> <br>
                           &nbsp;&nbsp;&nbsp;    <i class="fa-regular fa-sun"></i>
                                {% elif wf5Am == '구름많고 비' %}
                                    <a>하늘에 구름이 많고 비가옵니다.</a> <br>
                        &nbsp;&nbsp;&nbsp;   <i class="fa-solid fa-cloud-showers-heavy"></i>
                                {% elif wf5Am == '구름많고 눈' %}
                                    <a>하늘에 구름이 많고 눈이옵니다..</a> <br>
                        &nbsp;&nbsp;&nbsp;   <i class="fa-solid fa-snowflake"></i>
                             {% elif wf5Am == '구름많고 비/눈' %}
                                    <a>하늘에 구름이 많고 비와 눈이 옵니다.</a> <br>
                       &nbsp;&nbsp;&nbsp;    <i class="fa-solid fa-cloud-showers-heavy"></i>
                                {% elif wf5Am == '구름많고 소나기' %}
                                    <a>하늘이 구름이 많고 소나기가 옵니다.</a> <br>
                       &nbsp;&nbsp;&nbsp;    <i class="fa-solid fa-cloud-showers-heavy"></i>
                             {% elif wf5Am == '흐림' %}
                                    <a>하늘이 흐립니다.</a> <br>
                        &nbsp;&nbsp;&nbsp;   <i class="fa-sharp fa-solid fa-clouds"></i>
                                {% elif wf5Am == '흐리고 비' %}
                                    <a>하늘이 흐리고 비가옵니다.</a> <br>
                        &nbsp;&nbsp;&nbsp;   <i class="fa-solid fa-cloud-showers-heavy"></i>
                             {% elif wf5Am == '흐리고 비/눈' %}
                                    <a>하늘이 흐리고 비와 눈이 옵니다.</a> <br>
                         &nbsp;&nbsp;&nbsp;  <i class="fa-solid fa-cloud-showers-heavy"></i>
                                {% elif wf5Am == '흐리고 소나기' %}
                                    <a>하늘이 흐리고 소나기가 옵니다.</a> <br>
                         &nbsp;&nbsp;&nbsp;  <i class="fa-solid fa-cloud-showers-heavy"></i>
                                    {% endif %}</td>

                          <td>{% if wf6Am == '구름많음' %}
                                    <a>하늘에 구름이 많습니다.</a> <br>
                          &nbsp;&nbsp;&nbsp;   <i class="fa-solid fa-cloud"></i>
                                {% elif wf6Am == '맑음' %}
                                    <a>하늘이 맑습니다.</a> <br>
                           &nbsp;&nbsp;&nbsp;    <i class="fa-regular fa-sun"></i>
                                {% elif wf6Am == '구름많고 비' %}
                                    <a>하늘에 구름이 많고 비가옵니다.</a> <br>
                       &nbsp;&nbsp;&nbsp;    <i class="fa-solid fa-cloud-showers-heavy"></i>
                                {% elif wf6Am == '구름많고 눈' %}
                                    <a>하늘에 구름이 많고 눈이옵니다..</a> <br>
                         &nbsp;&nbsp;&nbsp;  <i class="fa-solid fa-snowflake"></i>
                             {% elif wf6Am == '구름많고 비/눈' %}
                                    <a>하늘에 구름이 많고 비와 눈이 옵니다.</a> <br>
                         &nbsp;&nbsp;&nbsp;  <i class="fa-solid fa-cloud-showers-heavy"></i>
                                {% elif wf6Am == '구름많고 소나기' %}
                                    <a>하늘이 구름이 많고 소나기가 옵니다.</a> <br>
                      &nbsp;&nbsp;&nbsp;     <i class="fa-solid fa-cloud-showers-heavy"></i>
                             {% elif wf6Am == '흐림' %}
                                    <a>하늘이 흐립니다.</a> <br>
                        &nbsp;&nbsp;&nbsp;   <i class="fa-sharp fa-solid fa-clouds"></i>
                                {% elif wf6Am == '흐리고 비' %}
                                    <a>하늘이 흐리고 비가옵니다.</a> <br>
                        &nbsp;&nbsp;&nbsp;   <i class="fa-solid fa-cloud-showers-heavy"></i>
                             {% elif wf6Am == '흐리고 비/눈' %}
                                    <a>하늘이 흐리고 비와 눈이 옵니다.</a> <br>
                         &nbsp;&nbsp;&nbsp;  <i class="fa-solid fa-cloud-showers-heavy"></i>
                                {% elif wf6Am == '흐리고 소나기' %}
                                    <a>하늘이 흐리고 소나기가 옵니다.</a> <br>
                         &nbsp;&nbsp;&nbsp;  <i class="fa-solid fa-cloud-showers-heavy"></i>
                                    {% endif %}</td>

                          <td>{% if wf7Am == '구름많음' %}
                                    <a>하늘에 구름이 많습니다.</a> <br>
                         &nbsp;&nbsp;&nbsp;    <i class="fa-solid fa-cloud"></i>
                                {% elif wf7Am == '맑음' %}
                                    <a>하늘이 맑습니다.</a> <br>
                          &nbsp;&nbsp;&nbsp;     <i class="fa-regular fa-sun"></i>
                                {% elif wf7Am == '구름많고 비' %}
                                    <a>하늘에 구름이 많고 비가옵니다.</a> <br>
                        &nbsp;&nbsp;&nbsp;   <i class="fa-solid fa-cloud-showers-heavy"></i>
                                {% elif wf7Am == '구름많고 눈' %}
                                    <a>하늘에 구름이 많고 눈이옵니다..</a> <br>
                       &nbsp;&nbsp;&nbsp;    <i class="fa-solid fa-snowflake"></i>
                             {% elif wf7Am == '구름많고 비/눈' %}
                                    <a>하늘에 구름이 많고 비와 눈이 옵니다.</a> <br>
                        &nbsp;&nbsp;&nbsp;   <i class="fa-solid fa-cloud-showers-heavy"></i>
                                {% elif wf7Am == '구름많고 소나기' %}
                                    <a>하늘이 구름이 많고 소나기가 옵니다.</a> <br>
                        &nbsp;&nbsp;&nbsp;   <i class="fa-solid fa-cloud-showers-heavy"></i>
                             {% elif wf7Am == '흐림' %}
                                    <a>하늘이 흐립니다.</a> <br>
                        &nbsp;&nbsp;&nbsp;   <i class="fa-sharp fa-solid fa-clouds"></i>
                                {% elif wf7Am == '흐리고 비' %}
                                    <a>하늘이 흐리고 비가옵니다.</a> <br>
                      &nbsp;&nbsp;&nbsp;     <i class="fa-solid fa-cloud-showers-heavy"></i>
                             {% elif wf7Am == '흐리고 비/눈' %}
                                    <a>하늘이 흐리고 비와 눈이 옵니다.</a> <br>
                       &nbsp;&nbsp;&nbsp;    <i class="fa-solid fa-cloud-showers-heavy"></i>
                                {% elif wf7Am == '흐리고 소나기' %}
                                    <a>하늘이 흐리고 소나기가 옵니다.</a> <br>
                         &nbsp;&nbsp;&nbsp;  <i class="fa-solid fa-cloud-showers-heavy"></i>
                                    {% endif %}</td>
                    </tr>
                  <tr>
                      <td>강수확률</td>
                      <td>{{ pop1 }}%</td>
                      <td> {{ pop2 }}%</td>
                      <td> {{ pop3 }}%</td>
                      <td> {{  rnSt4Am }}%</td>
                       <td> {{  rnSt5Am }}%</td>
                      <td> {{  rnSt6Am }}%</td>
                      <td> {{  rnSt7Am }}%</td>
                    </tr>
                  </tbody>
                </table>
</div>
    <div class="col-1"></div>
            </div>
    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
        </div>
        <div class="row tm-mb-90 tm-gallery">
        	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{% static 'img/Ganjeolgot.jpg' %}" alt="Image" class="img-fluid" style="height: 276px; width:100%" >
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>자세히 보기</h2>
                        <a href="/detail/Ganjeolgot">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span>간절곶</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{% static 'img/golaemunhwama-eul.jpg' %}" alt="Image" class="img-fluid" style="height: 276px; width:100%" >
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>자세히 보기</h2>
                        <a href="/detail/golaemunhwama-eul">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span>고래문화마을</span>

                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{% static 'img/daewang-amgong-won.jpg' %}" alt="Image" class="img-fluid" style="height: 276px; width:100%" >
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>자세히 보기</h2>
                        <a href="/detail/daewang-amgong-won">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span>대왕암공원</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{% static 'img/mongdolhaebyeon.jpg' %}" alt="Image" class="img-fluid" style="height: 276px; width:100%" >
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>자세히 보기</h2>
                        <a href="/detail/mongdolhaebyeon">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span>몽돌해변</span>
                </div>
            </div>
            
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{% static 'img/siblidaesup.jpg' %}" alt="Image" class="img-fluid" style="height: 276px; width:100%" >
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>자세히 보기</h2>
                        <a href="/detail/siblidaesup">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span>십리대숲</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{% static 'img/sinbulsan-eogsaepyeong-won.jpg' %}" alt="Image" class="img-fluid" style="height: 276px; width:100%" >
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>자세히 보기</h2>
                        <a href="/detail/sinbulsan-eogsaepyeong-won">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span>억새평원</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{% static 'img/ulsandaegong-won.jpg' %}" alt="Image" class="img-fluid" style="height: 276px; width:100%" >
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>자세히 보기</h2>
                        <a href="/detail/ulsandaegong-won">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span>울산대공원</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{% static 'img/ulsandaegyojeonmangdae.jpg' %}" alt="Image" class="img-fluid" style="height: 276px; width:100%" >
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>자세히 보기</h2>
                        <a href="/detail/ulsandaegyojeonmangdae">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span>울산대교전망대</span>
                </div>
            </div>
            </div>         
        </div> <!-- row -->

    </div> <!-- container-fluid, tm-container-content -->

    <footer class="tm-bg-gray pt-5 pb-3 tm-text-gray footer text-center">
                  <small class="copyright text-muted">Designed with <span class="sr-only">love</span><i class="fas fa-heart"></i> by <a class="theme-link" href="http://themes.3rdwavemedia.com" target="_blank"></a> Weather Where</small>
    </footer>

    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
    <script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
</body>
</html>