<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
	<title>{{posts.region}}</title>
	
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}">
	
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
	
	<!-- FontAwesome JS-->
	<script defer src="{% static 'assets/fontawesome/js/all.min.js' %}"></script>
	<!-- Theme CSS -->  
	<link id="theme-style" rel="stylesheet" href="{% static 'assets/css/devresume.css' %}">
</head> 

<body>
	<div class="main-wrapper">
		<div class="container px-3 px-lg-5">
			<article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">
				
				<div class="resume-header">
					<div class="row align-items-center">
						<div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
							<h2 id="title" class="resume-name mb-0 text-uppercase">{{ posts.region }}</h2>
							<div class="resume-tagline mb-3 mb-md-0"></div>
						</div><!--//resume-title-->


						<div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
							<ul class="list-unstyled mb-0">
								<li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg me-2 "></i><a>02-2153-0000</a></li>   <!--이 부분 변경-->
								<li class="mb-2"><i class="fas fa-globe fa-fw fa-lg me-2"></i><a>https://ddp.or.kr/?menuno=228/</a></li>
								<li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg me-2"></i>Seoul</li>
							</ul>
						</div><!--//resume-contact-->
					</div><!--//row-->
					
				</div><!--//resume-header-->
				<hr>
				<div class="resume-intro py-3">
					<div class="row align-items-center">
						<div class="col-12 col-md-3 col-xl-2 text-center">
						    <img class="img-thumbnail"  style="height: 200px; width:200px"  src="{% static 'assets/img/3.jpg' %}" alt="image">
						</div>
						
						<div class="col text-start">
							<p class="mb-0"> <p class="theme-link" href="https://themes.3rdwavemedia.com/resources/sketch-template/resume-sketch-sketch-resume-template-for-software-developers/" target="_blank">
	<p id="name">{{posts.content}}</p>

<button id="myBtn" class="btn btn-secondary">Translate</button>

<script>
const element = document.getElementById("myBtn");

element.addEventListener("click", function() {
  document.getElementById('name').innerHTML="{{result}}";
});
</script>
<script>
element.addEventListener("click", function() {
  document.getElementById('name2').innerHTML="{{result2|linebreaksbr}}";
});
</script>
<script>
element.addEventListener("click", function() {
  document.getElementById('name3').innerHTML="{{result3}}";
});
</script>
<script>
element.addEventListener("click", function() {
  document.getElementById('name4').innerHTML="{{result4|linebreaksbr}}";
});
</script>
<script>
element.addEventListener("click", function() {
  document.getElementById('name5').innerHTML="{{result5}}";
});
</script>
<script>
element.addEventListener("click", function() {
  document.getElementById('name6').innerHTML="{{result6|linebreaksbr}}";
});
</script>
<script>
element.addEventListener("click", function() {
  document.getElementById('name7').innerHTML="{{chat}}";
});
</script>
<script>
element.addEventListener("click", function() {
  document.getElementById('title').innerHTML="{{title}}";
});
</script>


						</div><!--//col-->
					</div>
				</div><!--//resume-intro-->
				<hr>
				<div class="resume-body">
					<div class="row">
						<div class="resume-main col-12 col-lg-8 col-xl-9   pe-0   pe-lg-5">
							<section class="work-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">정보(information)</h3>
								<div class="item mb-3">

									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">추천(Recommend)</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end"></div>

									</div>
									<div class="item-content">
										<ul class="resume-list">
											<li id="name7">{{output_text|linebreaksbr}}
											</li>
										</ul>
									</div>

									<div class="item-heading row align-items-center mb-2"> <!--이 부분 변경-->
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">전화번호(Phone number)</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end"></div>

									</div>

									<div class="item-content">
										<ul class="resume-list">
											<li>{{posts.sub_content}}</li>
										</ul>
									</div>
								<div class="item mb-3">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">웹사이트(Website)</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end"></div>

									</div>

									<div class="item-content">
										<ul class="resume-list">
											<li><a  class="resume-link" href="{{posts.sub_content1}}">{{posts.sub_content1}}</a></li>
										</ul>
									</div>
									<div class="item mb-3">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">이용시간(Opening hours)</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end"></div>
									</div>
									<div class="item-content">
										<ul class="resume-list">
											<li id="name2">{{ posts.sub_content2 }}</li>
										</ul>
									</div>
								</div><!--//item-->
								<div class="item mb-3">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">휴무일(a day off)</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end"></div>
									</div>
									<div class="item-content">
										<ul class="resume-list">
											<li id="name3">{{posts.sub_content3}}</li>
										</ul>
									</div>
								</div><!--//item-->
								<div class="item">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">주소(Address)</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end"></div>
									</div>
									<div class="item-content">
									<ul class="resume-list">
											<li id="name5">{{posts.sub_content5}}</li>
										</ul>
									</div>
								</div><!--//item-->
								<div class="item">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">교통 정보(Use Traffic)</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end"></div>
									</div>
									<div class="item-content">
									<ul class="resume-list">
											<li id="name6">{{ posts.sub_content6|linebreaksbr }}</li>
										</ul>
									</div>
								</div><!--//item-->
								</div>
								</div>
							</section><!--//work-section-->

							

						</div><!--//resume-main-->
							</div><!--//row-->
						</div><!--//resume-body-->
						<hr>
						<div class="resume-footer text-center">

						</div><!--//resume-footer-->
					</article>
					
				</div><!--//container-->
				
				<footer class="footer text-center py-4">
					<!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
					<small class="copyright text-muted">Designed with <span class="sr-only">love</span><i class="fas fa-heart"></i> by <a class="theme-link" href="http://themes.3rdwavemedia.com" target="_blank"></a> Weather Where</small>
				</footer>
				
			</div><!--//main-wrapper-->
			

</body>
</html> 

